:root {
  --title-color: #ffffff;
  --main-color: #212121;
  --text-color: #757575;
  --link-color: #2196f3;
  --projects-color: #f5f4fa;
  --border-color: #eeee;
  --back-color: #2f303a;
  --icons-color: #afb1b8;
  --font-logo: "Raleway";
  --font-family-roboto: "Roboto";
  
}
